@import 'custom_jsoneditor';
@import 'custom_bootstrap';

#jsoneditor {
    width: 100%;
    height: calc(100vh - 75px);
}

.navbar img {
    height: 24px;
}

.faq {
    dt {
        &::before {
            content: 'Q. ';
        }
    }
}

body {
    font-size: 10pt;
}

h2 .btn {
    font-size: inherit;
}

h2 {
    font-size: 1.5rem;
}
h3 {
    font-size: 1.25rem;
}
h4 {
    font-size: 1.1rem;
}
